/* Basic styles for body and container */

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}


/* width */

::-webkit-scrollbar {
    width: 20px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.167);
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(237, 8, 8);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

#main-content {
    position: relative;
    width: 100%;
    height: 100%;
}


/* Splash Screen Styling */

#splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 1000;
    overflow-y: hidden;
}

.glitch {
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Uncial Antiqua', cursive;
    color: #fff;
    text-shadow: 0 0 10px #ff4b2b, 0 0 20px #ff4b2b, 0 0 30px #ff4b2b;
    animation: glow 40s infinite;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px #ff4b2b, 0 0 20px #ff4b2b, 0 0 30px #ff4b2b;
        /* Initial glow effect */
    }
    50% {
        text-shadow: 0 0 20px #ff4b2b, 0 0 40px #ff4b2b, 0 0 60px #ff4b2b;
        /* Larger glow effect */
    }
    100% {
        text-shadow: 0 0 10px #ff4b2b, 0 0 20px #ff4b2b, 0 0 30px #ff4b2b;
        /* Return to original glow effect */
    }
}


/* Parallax sections */

.section {
    position: relative;
    height: 100vh;
    /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    background-attachment: fixed;
    /* Parallax effect */
    background-size: cover;
    background-position: center;
}

#home {
    background-image: url('assets/ed.jpg');
    opacity: 0.8;
}

#education {
    background-image: url('assets/home.png');
}

#projects {
    background-image: url('assets/pr.jpg');
}

#contact {
    background-image: url('assets/c.jpg');
}


/* Other styles (e.g., header, footer, buttons, etc.) */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.logo-container .logo {
    font-size: 28px;
    font-family: 'Uncial Antiqua', cursive;
    color: #ff416c;
    text-decoration: none;
    transition: transform 0.3s;
}

.logo-container .logo:hover {
    transform: scale(1.1);
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 50px;
    transition: color 0.3s;
}

.nav-link:hover,
.nav-link.active {
    color: #ff0000;
}

.title {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    color: #fff;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.title:hover {
    transform: scale(1.1);
}

.socials {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* Adjust the space between icons */
    padding: 10px;
    background-color: rgba(255, 251, 251, 0.5);
    /* Optional: to give a semi-transparent background */
    border-radius: 0 10px 10px 0;
    /* Optional: rounded corners on the right side */
    z-index: 1000;
    /* To ensure it stays on top */
}

.socials a {
    display: block;
    text-decoration: none;
    color: white;
    /* Optional: if you want to apply a color to text/icons */
    transition: transform 0.3s, filter 0.3s;
    /* Smooth transition for hover effects */
}

.socials a:hover {
    transform: scale(1.2);
    /* Slightly enlarge on hover */
    filter: brightness(1.2);
    /* Brighten on hover */
}

.socials img {
    width: 30px;
    /* Adjust the size of the icons */
    height: auto;
}


/* HOME */

.container {
    max-width: 800px;
    /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
    background-color: #00000049;
    /* White background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
}

h1,
h3 {
    text-align: center;
}

h1 {
    color: #b5afaf;
}

h3 {
    color: #c9c6c6;
    font-size: 15px;
}

p {
    text-align: justify;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #373a3d88;
    /* Blue background */
    color: #fff;
    /* White text */
    text-decoration: none;
    border-radius: 4px;
    border: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
    /* Darker blue on hover */
}


/* Education Items */

.education-container {
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 2;
    /* Ensure it stays above the background */
}

.education-header {
    text-align: center;
    margin-bottom: 50px;
    color: white;
    /* For better contrast with background */
}

.education-header h2 {
    font-size: 36px;
    color: rgb(0, 0, 0);
    /* For better contrast with background */
}

.education-item {
    padding: 10px 40px;
    position: relative;
    width: 50%;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}

.education-item.show {
    opacity: 1;
    transform: translateY(0);
}

.education-item.left {
    left: 0;
    text-align: right;
}

.education-item.right {
    left: 50%;
    text-align: left;
}

.education-item .content {
    padding: 60px;
    background: rgba(69, 66, 66, 0.551);
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    color: white;
    /* For better contrast with background */
}

.education-item .content:hover {
    background-color: rgba(69, 66, 66, 0.4);
}

.education-item::after {
    content: ' ';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #f7a93cd9;
    border: 4px solid #555151;
    top: 20px;
    left: 50%;
    margin-left: -13px;
    border-radius: 50%;
    z-index: 1;
}


/* Header Styles */

.education-item .content h3 {
    margin: 0;
    font-size: 24px;
    color: rgb(240, 235, 235);
    /* For better contrast with background */
}

.education-item .content p {
    margin: 5px 0;
    color: white;
    /* For better contrast with background */
}


/* Animation: Items come one by one */

.education-item:nth-child(1) {
    transition-delay: 0.3s;
}

.education-item:nth-child(2) {
    transition-delay: 0.6s;
}

.education-item:nth-child(3) {
    transition-delay: 0.9s;
}


/* PROJECTS */

.section-header {
    text-align: center;
    margin-bottom: 50px;
    margin-right: 60px;
    color: white;
    /* For better contrast with background */
    position: relative;
    z-index: 1;
    /* Ensure the header is on top of the project cards */
}

.section-header h2 {
    font-size: 36px;
    color: white;
    /* For better contrast with background */
}

.section-header p {
    font-size: 18px;
    color: white;
    /* For better contrast with background */
}


/* Project Cards */

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.project-card {
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    height: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 0;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.project-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.project-card:hover .project-image {
    transform: scale(1.1);
}

.project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s, transform 0.3s;
}

.project-card:hover .project-info {
    opacity: 1;
    transform: translateY(0);
}

.project-info h3 {
    margin: 0;
    font-size: 20px;
    text-align: center;
}


/* Contact */

.contact-card {
    background: rgba(174, 173, 173, 0.796);
    border-radius: 15px;
    padding: 30px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.contact-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

#contact-form label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background: #fff;
    transition: border-color 0.3s;
}

#contact-form input:focus,
#contact-form textarea:focus {
    border-color: #151211;
    outline: none;
}

#contact-form button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(45deg, #9f6270, #e99283);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

#contact-form button:hover {
    background: linear-gradient(45deg, #84bbeb, #3ca2de);
    transform: scale(1.05);
}

.footer {
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    position: relative;
    align-items: center;
    text-align: center;
    padding: 20px;
}