/* Basic styles for body and container */

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}


/* width */

::-webkit-scrollbar {
    width: 20px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.167);
    border-radius: 10px;
    background-color: black;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(237, 8, 8);
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

#main-content {
    position: relative;
    width: 100%;
    height: 100%;
}


/* Splash Screen Styling */

#splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 1000;
    overflow-y: hidden;
}

.glitch {
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Uncial Antiqua', cursive;
    color: #fc0505;
    text-shadow: 0 0 10px #ff4b2b, 0 0 20px #ff4b2b, 0 0 30px #ff4b2b;
    animation: glow 40s infinite;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px #ff4b2b, 0 0 20px #ff4b2b, 0 0 30px #ff4b2b;
    }
    50% {
        text-shadow: 0 0 20px #ff4b2b, 0 0 40px #ff4b2b, 0 0 60px #ff4b2b;
    }
    100% {
        text-shadow: 0 0 10px #ff4b2b, 0 0 20px #ff4b2b, 0 0 30px #ff4b2b;
    }
}


/* Parallax sections */

.section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#home {
    background-image: url('assets/ed.jpg');
    opacity: 0.8;
}

#education {
    background-image: url('assets/home.png');
}

#projects {
    background-image: url('assets/pr.jpg');
}

#contact {
    background-image: url('assets/c.jpg');
}


/* Header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.logo-container .logo {
    font-size: 28px;
    font-family: 'Uncial Antiqua', cursive;
    color: #ff416c;
    text-decoration: none;
    transition: transform 0.3s;
}

.logo-container .logo:hover {
    transform: scale(1.1);
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 50px;
    transition: color 0.3s;
}

.nav-link:hover,
.nav-link.active {
    color: #ff0000;
}


/* Responsive Navigation */

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }
    .nav-link {
        padding: 10px;
        font-size: 14px;
    }
}


/* Titles */

.title {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    color: #fff;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.title:hover {
    transform: scale(1.1);
}


/* Socials */

.socials {
    position: fixed;
    top: 85%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: rgba(255, 251, 251, 0.5);
    border-radius: 0 10px 10px 0;
    z-index: 100;
}

.socials a {
    display: block;
    text-decoration: none;
    color: white;
    transition: transform 0.3s, filter 0.3s;
}

.socials a:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.socials img {
    width: 25px;
    height: auto;
}


/* HOME */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #00000049;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1,
h3 {
    text-align: center;
}

h1 {
    color: #b5afaf;
}

h3 {
    color: #c9c6c6;
    font-size: 15px;
}

p {
    text-align: justify;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #373a3d88;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}


/* Responsive HOME */

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
    h1 {
        font-size: 24px;
    }
    h3 {
        font-size: 14px;
    }
}


/* Education Items */

.education-container {
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 2;
}

.education-header {
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

.education-header h2 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.education-item {
    padding: 10px 40px;
    position: relative;
    width: 50%;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}

.education-item.show {
    opacity: 1;
    transform: translateY(0);
}

.education-item.left {
    left: 0;
    text-align: right;
}

.education-item.right {
    left: 50%;
    text-align: left;
}

.education-item .content {
    padding: 60px;
    background: rgba(69, 66, 66, 0.551);
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    color: white;
}

.education-item .content:hover {
    background-color: rgba(69, 66, 66, 0.4);
}

.education-item::after {
    content: ' ';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f80b0bd9;
    border: 4px solid #555151;
    top: 15px;
    left: 50%;
    margin-left: -13px;
    border-radius: 50%;
    z-index: 1;
}


/* Header Styles */

.education-item .content h3 {
    margin: 0;
    font-size: 20px;
    color: rgb(240, 235, 235);
}

.education-item .content p {
    margin: 5px 0;
    color: white;
}


/* Animation: Items come one by one */

.education-item:nth-child(1) {
    animation-delay: 0.3s;
}

.education-item:nth-child(2) {
    animation-delay: 0.6s;
}

.education-item:nth-child(3) {
    animation-delay: 0.9s;
}

.education-item:nth-child(4) {
    animation-delay: 1.2s;
}


/* Responsive Education */

@media (max-width: 768px) {
    .education-item {
        width: 100%;
        text-align: center;
    }
    .education-item.left,
    .education-item.right {
        left: 0;
        text-align: center;
    }
    .education-item::after {
        left: calc(50% - 2px);
    }
    .education-item .content {
        padding: 20px;
    }
}


/* Projects Section */

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    /* Adjust as needed */
    margin: auto;
}

.project-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1 1 calc(33.333% - 40px);
    /* Adjusts to 3 columns */
    max-width: calc(33.333% - 40px);
    /* Adjusts to 3 columns */
    text-align: center;
    color: black;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.project-card .content {
    padding: 20px;
}

.project-card h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.project-card .content a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

.project-card .content a:hover {
    color: #fc3a3a;
}

.project-card .content a i {
    margin-right: 5px;
}


/* Responsive Projects */

@media (max-width: 1024px) {
    .project-card {
        flex: 1 1 calc(50% - 40px);
        /* Adjusts to 2 columns */
        max-width: calc(50% - 40px);
        /* Adjusts to 2 columns */
    }
}

@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }
    .project-card {
        flex: 1 1 100%;
        /* Full width on small screens */
        max-width: 100%;
        /* Full width on small screens */
    }
}


/* Contact Card */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-card {
    background-color: #0000009e;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    color: white;
}

.contact-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-card form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-card input,
.contact-card textarea {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #ccc;
}

.contact-card button {
    padding: 10px;
    background-color: #f7a93c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-card button:hover {
    background-color: #373a3d88;
}

.contact-card p {
    margin: 0;
}

.contact-card label {
    color: white;
}


/* Responsive Contact Card */

@media (max-width: 768px) {
    .contact-card {
        padding: 20px;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
    position: relative;
    height: 100px;
    /* Adjust this height as needed */
}

footer p {
    margin: 0;
}